<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--//登录注册-->
<mapper namespace="com.bypx.dao.LoginDao">
    <!--//勾选框选中后，使用cookie加密保存登录成功后的用户名、密码。再次打开登录页，直接从cookie中解密。-->
    <!--// （如果一周内免登陆复选框在提交数据时有选中，则跳转前将用户信息存入Cookie，下一次打开登陆页的时候不需要提交用户名密码直接到成功页面。）-->
    <!--//登录和记住密码，发送用户名和密码到后台进行验证-->
    <select id="login" parameterType="UserPage" resultType="Long">
        select count(*) from mall_user
        <include refid="commonWhere"></include>
    </select>
    <!--//查询账户是否存在,,注册验证昵称，已经注册过的昵称不能使用-->
    <select id="register" parameterType="UserPage" resultType="Long">
        select count(*) from mall_user
        <include refid="commonWhere"></include>
    </select>
    <sql id="commonWhere">
        <where>
            <if test="@com.bypx.dao.QueryUtil@strIsNotEmpty(name)">
                and name_=#{name}
            </if>
            <if test="@com.bypx.dao.QueryUtil@strIsNotEmpty(password)">
                and password_=#{password}
            </if>
        </where>
    </sql>
    <!--//注册新增,头像保存到磁盘，路径存入数据库中-->
    <insert id="register_add" parameterType="UserPage">
        insert into mall_user(id_,name_,password_,photo_)
        values(#{id},#{name},#{password},#{photo})
    </insert>
</mapper>